
e-Mapy/earth v1.ico
*.design
*.bmp
*.png
e-Mapy/Images/przelew.pdf
*.baml
*.csdl
*.cache
*.sqlite
*.json
*.dll
*.pdb
*.txt
*.cs
*.xml
*.ssdl
*.CopyComplete
*.msl
*.exe
*.prof
*.config
*.sc
*.sci
*.rar
*.xaml
*.svcinfo
*.datasource
*.7z
*.xsc
*.csproj
*.ico
*.resources
*.user
*.lref
*.xss
*.xsd
